extends layout

block content
  .container
    h1 Blockchain
    h2 Dados distribuídos e confiança mútua
    h3 Auditoria e Segurança da Informação (GSI536) - FACOM - UFU - 2020/1
    img(src='https://cdn-images-1.medium.com/max/800/0*RrL7IMMZkwd1VMzr')
